SWEDAVIA_API_KEY=

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_WAREHOUSE=FLIGHT_WH
SNOWFLAKE_DATABASE=FLIGHT_DB

# dlt
SNOWFLAKE_DLT_USER=FLIGHT_DLT_USER
SNOWFLAKE_DLT_PASSWORD=
SNOWFLAKE_DLT_ROLE=FLIGHT_LOADER

# dbt
SNOWFLAKE_DBT_USER=FLIGHT_DBT_USER
SNOWFLAKE_DBT_PASSWORD=
SNOWFLAKE_DBT_ROLE=FLIGHT_TRANSFORMER

# Streamlit
SNOWFLAKE_STREAMLIT_USER=FLIGHT_STREAMLIT_USER
SNOWFLAKE_STREAMLIT_PASSWORD=
SNOWFLAKE_STREAMLIT_ROLE=FLIGHT_REPORTER
